// Variables

$text: #2d2d2d
$background: #fafafa
$light-grey: #efefef
$mid-grey: #505050
$brand-red: #9c1f32
$dark-red: #6f1523
$h-stack: Oswald, sans serif
$p-stack: Lato, serif

// Basic style resets

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background-color: $light-grey
  box-sizing: border-box
  position: relative

::selection
  background-color: rgba(156,31,50,0.5)

a
  text-decoration: none

.mobileshow
  display: none

a:hover
  text-decoration: underline

h1, h2, h3, h4, h5
  font-family: $h-stack
  text-transform: uppercase

p
  font-family: $p-stack

div.container
  max-width: 1000px
  margin: 0px auto

//Header styling

header
  background: #fafafa
  width: 100%
  border-bottom: 0.5px solid #dfdfdf
  z-index: 60
  padding: 10px 0px 10px 0px
  position: absolute

  div.container
    display: flex
    display: -webkit-flex
    flex-direction: row
    justify-content: space-between

    nav:first-of-type
      align-items: flex-start

    nav:last-of-type
      align-items: flex-end

  nav:first-of-type div ul li
    display: inline
    font-family: $h-stack
    font-weight: 400
    text-transform: uppercase
    margin-right: 10px

  a
    color: $text

  nav:last-of-type div ul li
    display: inline
    font-family: $h-stack
    font-weight: 400
    text-transform: uppercase
    margin-right: 5px

div#spacer.on
  width: 100%
  height: 60px

section#masthead, footer
  text-align: center

.fixie
  position: fixed !important
  z-index: 7
  top: 0
  width: 100%

div.spacer
  width: 100%

//Footer styling

footer .container
  padding-bottom: 20px

  hr
    border: 3px solid $brand-red
    margin-bottom: 10px

  nav ul li
    display: inline
    list-style-type: none
    font-family: $h-stack
    margin-right: 5px
    text-transform: uppercase

    a
      color: $text

  p
    font-family: $p-stack
    font-weight: 100
    color: $mid-grey
    text-transform: uppercase
    font-size: 0.7em
    margin-bottom: 5px
    margin-top: 20px

    a
      color: $brand-red

  img
    margin-top: 10px

//Hero section styling

section
  div.container
    padding-top: 100px
    padding-bottom: 100px

    h3
      font-size: 2.5em
      margin-bottom: 20px
      color: $text
      text-align: center

    p
      color: $text
      max-width: 600px
      margin: 0px auto 20px auto

div.buttons
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  z-index: 3
  position: relative
  margin-top: 20px


  a.button
    font-family: $p-stack
    border-radius: 2px
    background-color: $text
    color: $background
    text-transform: uppercase
    font-weight: 100
    cursor: pointer
    display: inline-block
    padding: 10px

    span
      padding: 12px 12px 12px 12px

    i
      padding: 12px 12px 12px 12px

  a.button:hover
    text-decoration: none
    -webkit-filter: brightness(1.2) !important
    filter: brightness(1.2) !important

  a.button.watch
    background-color: $brand-red
    display: inline-block
    padding: 0px

    i
      background-color: $dark-red

div.video-container
  position: relative
  padding-bottom: 52%
  padding-top: 30px
  height: 0
  overflow: hidden
  border-radius: 2px


  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

section#services
  position: relative
  overflow: hidden

  div#slice
    position: absolute
    left: 0px
    right: 0px
    top: -100px
    height: 60%
    width: 100%
    background-color: #e6e6e6
    z-index: 1
    transform: scale(1.5) rotate(-10deg)
    opacity: 0.9

  div#grad
    position: absolute
    left: 0px
    right: 0px
    top: 0px
    height: 40%
    width: 100%
    background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%)
    background: -webkit-linear-gradient(top,  #fafafa 0%, #efefef 100%)
    background: linear-gradient(to bottom,  #fafafa 0%, #efefef 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efefef', endColorstr='#efefef',GradientType=0 )
    background-size: cover
    background-position: bottom
    z-index: 2

  div.container
    z-index: 9999
    position: relative
    padding-top: 50px

    hr
      border: 3px solid $brand-red
      margin: 20px auto
      width: 50px

    p
      text-align: center

    div.services
      display: flex
      flex-direction: row
      width: 100%

      div.service
        background-color: $background
        padding: 30px
        text-align: center
        margin: 5px
        width: 100%
        position: relative
        border: 0.5px solid #dfdfdf

        a.cover
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          z-index: 999

        a.cover:hover
          background-color: rgba(0,0,0,0.06)

        img
          width: 90px
          display: block
          margin: 0px auto 90px auto

        h4
          margin-bottom: 10px
          font-size: 1.5em
          color: $text

        a.button
          padding: 6px
          font-family: $p-stack
          color: $background
          font-size: 0.7em
          text-transform: uppercase
          background-color: $brand-red
          border-radius: 1px

section#subscribe
  background-color: rgba(156, 31, 50, 0.9)
  color: $background
  padding-top: 50px
  padding-bottom: 30px
  margin-top: 30px
  margin-bottom: 0px


  ::selection
    background-color: rgba(255,255,255,0.9)
    color: $brand-red

  div.container
    padding-top: 30px

    h3, p
      color: $background
      text-align: center

      span
        color: #ffabab

    hr
      border: 3px solid $light-grey
      margin: 20px auto
      width: 50px

  div#mc_embed_signup
    form
      div#mc_embed_signup_scroll
        display: flex
        flex-direction: row
        width: 100%
        font-family: $p-stack
        align-items: center
        justify-content: space-between

        input.email
          background: none
          border: 1px solid $background
          padding: 10px
          font-family: $p-stack
          font-size: 1.2em
          color: $background
          width: 100%
          margin-right: 10px

        input#mc-embedded-subscribe
          background: $background
          padding: 14px 25px
          font-family: $p-stack
          font-size: 0.8em
          color: $brand-red
          border: none
          font-weight: 100
          text-transform: uppercase


section#team
  position: relative

  div.buttons
    justify-content: center
    align-items: flex-start
    margin-top: 40px

  hr
    border: 3px solid $brand-red
    margin: 20px auto
    width: 50px

  div#grad
    position: absolute
    left: 0px
    right: 0px
    top: 0px
    height: 20%
    width: 100%
    background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%)
    background: -webkit-linear-gradient(top,  #fafafa 0%, #efefef 100%)
    background: linear-gradient(to bottom,  #fafafa 0%, #efefef 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efefef', endColorstr='#efefef',GradientType=0 )
    background-size: cover
    background-position: bottom
    z-index: 2

  div.container
    position: relative
    z-index: 999
    padding-top: 50px

    p.desc
      text-align: center


section#watch
  position: relative
  overflow: hidden

  div#slice
    position: absolute
    left: 0px
    right: 0px
    top: 0px
    height: 50%
    width: 100%
    margin-top: -150px
    background-color: $brand-red
    z-index: 1
    transform: scale(1.5) rotate(-10deg)
    opacity: 0.9

  div.container
    z-index: 9999
    position: relative

    img
      height: 170px
      margin: 20px auto 70px auto
      display: block
      transition: 0.3s

    img.enlarge
      height: 100px

    h3
      color: $background

    p
      color: $text
      max-width: 600px
      margin: 0px 0px 0px 0px
      font-size: 1.2em

    div.video-container
      position: relative
      padding-bottom: 52%
      padding-top: 30px
      height: 0
      overflow: hidden
      border-radius: 2px
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2)

    hr
      border: 3px solid $brand-red
      margin: 20px 0px
      width: 50px


div.pagination
  margin: 30px
  text-align: center

  a
    padding: 15px
    font-family: $p-stack
    color: $text
    text-transform: uppercase
    border-radius: 3px
    margin: 5px
    font-size: 0.8em
    transition: 0.1s
    border: 0.5px solid #dfdfdf

    i
      margin: 3px

  a:hover
    text-decoration: none
    background-color: #dfdfdf
