* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #efefef;
  box-sizing: border-box;
  position: relative; }

::selection {
  background-color: rgba(156, 31, 50, 0.5); }

a {
  text-decoration: none; }

.mobileshow {
  display: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5 {
  font-family: Oswald, sans serif;
  text-transform: uppercase; }

p {
  font-family: Lato, serif; }

div.container {
  max-width: 1000px;
  margin: 0px auto; }

header {
  background: #fafafa;
  width: 100%;
  border-bottom: 0.5px solid #dfdfdf;
  z-index: 60;
  padding: 10px 0px 10px 0px;
  position: absolute; }
  header div.container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between; }
    header div.container nav:first-of-type {
      align-items: flex-start; }
    header div.container nav:last-of-type {
      align-items: flex-end; }
  header nav:first-of-type div ul li {
    display: inline;
    font-family: Oswald, sans serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 10px; }
  header a {
    color: #2d2d2d; }
  header nav:last-of-type div ul li {
    display: inline;
    font-family: Oswald, sans serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 5px; }

div#spacer.on {
  width: 100%;
  height: 60px; }

section#masthead, footer {
  text-align: center; }

.fixie {
  position: fixed !important;
  z-index: 7;
  top: 0;
  width: 100%; }

div.spacer {
  width: 100%; }

footer .container {
  padding-bottom: 20px; }
  footer .container hr {
    border: 3px solid #9c1f32;
    margin-bottom: 10px; }
  footer .container nav ul li {
    display: inline;
    list-style-type: none;
    font-family: Oswald, sans serif;
    margin-right: 5px;
    text-transform: uppercase; }
    footer .container nav ul li a {
      color: #2d2d2d; }
  footer .container p {
    font-family: Lato, serif;
    font-weight: 100;
    color: #505050;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 5px;
    margin-top: 20px; }
  footer .container img {
    margin-top: 10px; }

section div.container {
  padding-top: 100px;
  padding-bottom: 100px; }
  section div.container h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2d2d2d;
    text-align: center; }
  section div.container p {
    color: #2d2d2d;
    max-width: 600px;
    margin: 0px auto 20px auto; }

div.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;
  position: relative;
  margin-top: 20px; }
  div.buttons a.button {
    font-family: Lato, serif;
    border-radius: 2px;
    background-color: #2d2d2d;
    color: #fafafa;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    padding: 10px; }
    div.buttons a.button span {
      padding: 12px 12px 12px 12px; }
    div.buttons a.button i {
      padding: 12px 12px 12px 12px; }
  div.buttons a.button:hover {
    text-decoration: none;
    -webkit-filter: brightness(1.2) !important;
    filter: brightness(1.2) !important; }
  div.buttons a.button.watch {
    background-color: #9c1f32;
    display: inline-block;
    padding: 0px; }
    div.buttons a.button.watch i {
      background-color: #6f1523; }

div.video-container {
  position: relative;
  padding-bottom: 52%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border-radius: 2px; }
  div.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

section#services {
  margin-bottom: 50px;
  position: relative; }
  section#services div#grad {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 40%;
    width: 100%;
    background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
    background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
    background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efefef', endColorstr='#efefef',GradientType=0 );
    background-size: cover;
    background-position: bottom;
    z-index: 2; }
  section#services div.container {
    z-index: 9999;
    position: relative;
    padding-top: 50px; }
    section#services div.container hr {
      border: 3px solid #9c1f32;
      margin: 20px auto;
      width: 50px; }
    section#services div.container p {
      text-align: center; }
    section#services div.container div.services {
      display: flex;
      flex-direction: row;
      width: 100%; }
      section#services div.container div.services div.service {
        background-color: #fafafa;
        padding: 30px;
        text-align: center;
        margin: 5px;
        width: 100%;
        position: relative;
        border: 0.5px solid #dfdfdf; }
        section#services div.container div.services div.service a.cover {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 999; }
        section#services div.container div.services div.service a.cover:hover {
          background-color: rgba(0, 0, 0, 0.06); }
        section#services div.container div.services div.service img {
          width: 90px;
          display: block;
          margin: 0px auto 90px auto; }
        section#services div.container div.services div.service h4 {
          margin-bottom: 10px;
          font-size: 1.5em;
          color: #2d2d2d; }
        section#services div.container div.services div.service a.button {
          padding: 6px;
          font-family: Lato, serif;
          color: #fafafa;
          font-size: 0.7em;
          text-transform: uppercase;
          background-color: #9c1f32;
          border-radius: 1px; }

section#subscribe {
  background-color: #9c1f32;
  color: #fafafa;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px; }
  section#subscribe ::selection {
    background-color: rgba(255, 255, 255, 0.9);
    color: #9c1f32; }
  section#subscribe div.container {
    padding-top: 30px; }
    section#subscribe div.container h3, section#subscribe div.container p {
      color: #fafafa;
      text-align: center; }
    section#subscribe div.container hr {
      border: 3px solid #efefef;
      margin: 20px auto;
      width: 50px; }
  section#subscribe div#mc_embed_signup form div#mc_embed_signup_scroll {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Lato, serif;
    align-items: center;
    justify-content: space-between; }
    section#subscribe div#mc_embed_signup form div#mc_embed_signup_scroll input.email {
      background: none;
      border: 1px solid #fafafa;
      padding: 10px;
      font-family: Lato, serif;
      font-size: 1.2em;
      color: #fafafa;
      width: 100%;
      margin-right: 10px; }
    section#subscribe div#mc_embed_signup form div#mc_embed_signup_scroll input#mc-embedded-subscribe {
      background: #fafafa;
      padding: 14px 25px;
      font-family: Lato, serif;
      font-size: 0.8em;
      color: #9c1f32;
      border: none;
      font-weight: 100;
      text-transform: uppercase; }

section#team {
  position: relative; }
  section#team div.buttons {
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px; }
  section#team hr {
    border: 3px solid #9c1f32;
    margin: 20px auto;
    width: 50px; }
  section#team div#grad {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 20%;
    width: 100%;
    background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
    background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
    background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efefef', endColorstr='#efefef',GradientType=0 );
    background-size: cover;
    background-position: bottom;
    z-index: 2; }
  section#team div.container {
    position: relative;
    z-index: 999;
    padding-top: 50px;
    text-align: center; }

section#watch {
  position: relative;
  overflow: hidden; }
  section#watch div#slice {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 50%;
    width: 100%;
    margin-top: -150px;
    background-color: #9c1f32;
    z-index: 1;
    transform: scale(1.5) rotate(-10deg);
    opacity: 0.9; }
  section#watch div.container {
    z-index: 9999;
    position: relative; }
    section#watch div.container img {
      height: 170px;
      margin: 20px auto 70px auto;
      display: block;
      transition: 0.3s; }
    section#watch div.container img.enlarge {
      height: 120px; }
    section#watch div.container h3 {
      color: #fafafa; }
    section#watch div.container p {
      color: #2d2d2d;
      max-width: 600px;
      margin: 0px 0px 0px 0px; }
    section#watch div.container div.video-container {
      position: relative;
      padding-bottom: 52%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      border-radius: 2px;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2); }
    section#watch div.container hr {
      border: 3px solid #9c1f32;
      margin: 20px auto;
      width: 50px; }

/*# sourceMappingURL=main.css.map */
