// Variables

$text: #2d2d2d
$background: #fafafa
$light-grey: #efefef
$mid-grey: #505050
$brand-red: #9c1f32
$dark-red: #6f1523
$views: #a73b4b
$lifestyle: #9bce6f
$reviews: #98509c
$music: #e78357
$culture: #68bcbb
$fashion: #3c3a3a
$h-stack: Oswald, sans serif
$p-stack: Lato, serif

// Basic style resets

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background-color: $light-grey
  box-sizing: border-box
  position: relative

::selection
  background-color: rgba(156,31,50,0.5)

a
  text-decoration: none

.mobileshow
  display: none

a:hover
  text-decoration: underline

h1, h2, h3, h4, h5
  font-family: $h-stack
  text-transform: uppercase

p
  font-family: $p-stack

div.container
  max-width: 1000px
  margin: 0px auto

header
  background: #dfdfdf
  width: 100%
  border-bottom: 0.5px solid #dfdfdf
  z-index: 60
  padding: 10px 0px 10px 0px
  position: relative

  div.container
    display: flex
    display: -webkit-flex
    flex-direction: row
    justify-content: space-between

    nav:first-of-type
      align-items: flex-start

    nav:last-of-type
      align-items: flex-end

  nav:first-of-type div ul li
    display: inline
    font-family: $h-stack
    font-weight: 400
    text-transform: uppercase
    margin-right: 10px

  a
    color: $text

  nav:last-of-type div ul li
    display: inline
    font-family: $h-stack
    font-weight: 400
    text-transform: uppercase
    margin-right: 5px

div#spacer.on
  width: 100%
  height: 60px

section#masthead, footer
  text-align: center

.fixie
  position: fixed !important
  z-index: 7
  top: 0
  width: 100%

section#masthead
  min-height: 60px
  overflow: hidden
  background-color: $light-grey
  border-top: 0.5px solid #dfdfdf
  border-bottom: 0.5px solid #dfdfdf
  z-index: 60
  position: relative

  a:hover
    text-decoration: none

  div.container
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    div
      min-height: 60px
      border-right: 0.5px solid #dfdfdf
      border-left: 0.5px solid #dfdfdf
      display: flex
      justify-content: center
      align-items: center
      padding: 0px 20px 0px 20px
      font-family: $h-stack
      color: $mid-grey
      font-size: 1.1em
      transition: 0.1s
      cursor: pointer

      i
        margin-right: 10px

    div:hover
      background-color: #dfdfdf

    h1
      font-size: 2em
      color: $text
      z-index: 4
      transition: 0.1s

      span
        color: $brand-red


div.postbox
  width: 100%

div.post:hover
  background-color: #f5f5f5

  img
    filter: brightness(0.95)
    -webkit-filter: brightness(0.95)
    transition: 0.1s

div.post.hero:hover
  div.img
    filter: brightness(0.95)
    -webkit-filter: brightness(0.95)
    transition: 0.1s

div.spacer
  width: 100%

div.post.hero
  display: flex
  flex-direction: row
  margin: 10px 10px 10px 10px
  padding-bottom: 0px
  box-sizing: border-box
  overflow: hidden

  div.img
    width: 66%
    max-height: 500px
    background-position: center
    background-size: cover

  div.meta
    width: 33%
    padding-bottom: 40px

    h3
      font-size: 2.5em

div.sidebyside
  width: 50%
  float: left
  box-sizing: border-box

div.post.trail
  height: 250px
  overflow: hidden
  margin-bottom: 20px
  position: relative
  background-position: center
  background-size: cover
  transition: 0.1s
  margin: 10px 10px 10px 10px

  div.grad
    width: 100%
    height: 50%
    background: red
    position: absolute
    bottom: 0
    background: -moz-linear-gradient(top,  rgba(239,239,239,0) 0%, #2d2d2d 100%)
    background: -webkit-linear-gradient(top,  rgba(239,239,239,0) 0%, #2d2d2d 100%)
    background: linear-gradient(to bottom,  rgba(239,239,239,0) 0%, #2d2d2d 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efefef', endColorstr='#efefef',GradientType=0 )
    transition: 0.1s

  h3
    text-align: center
    position: absolute
    bottom: 0
    left: 0px
    right: 0px
    color: $background
    letter-spacing: 0.5px

div.post.trail:hover
  -webkit-filter: brightness(0.8)
  filter: brightness(0.8)
  transition: 0.1s

div.postbox
  div.grid-item
    width: 33%

div.post
  background-color: $background
  margin: 10px
  padding-bottom: 10px
  position: relative
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1)
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1)
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1)

  a.cover
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 5

  img
    width: 100%

  h3
    color: $text
    font-size: 1.6em
    margin: 15px

  hr
    width: 30px
    border: 2px solid $brand-red
    margin: 15px

  h5
    font-family: $p-stack
    font-weight: 100
    color: $mid-grey
    text-transform: uppercase
    font-size: 0.7em
    margin: 15px
    z-index: 10
    position: relative

    a
      color: $mid-grey

  p
    margin: 15px
    color: $mid-grey

footer .container
  padding-bottom: 20px

  hr
    border: 3px solid $brand-red
    margin-bottom: 10px

  nav ul li
    display: inline
    list-style-type: none
    font-family: $h-stack
    margin-right: 5px
    text-transform: uppercase

    a
      color: $text

  p
    font-family: $p-stack
    font-weight: 100
    color: $mid-grey
    text-transform: uppercase
    font-size: 0.7em
    margin-bottom: 5px
    margin-top: 20px

section#featured
  z-index: 3
  position: relative
  padding-top: 100px

  div#bg
    width: 100%
    height: 100%
    z-index: -1
    background-size: cover
    background-position: center
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    max-width: 100%
    filter: ssaturate(0) brightness(2) contrast(0.5)
    -webkit-filter: saturate(0) brightness(2) contrast(0.5)
    opacity: 0.3

  div#grad
    width: 100%
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 30%
    background: -moz-linear-gradient(top,  rgba(239,239,239,0) 0%, rgba(239,239,239,1) 100%)
    background: -webkit-linear-gradient(top,  rgba(239,239,239,0) 0%,rgba(239,239,239,1) 100%)
    background: linear-gradient(to bottom,  rgba(239,239,239,0) 0%,rgba(239,239,239,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efefef', endColorstr='#efefef',GradientType=0 )
    z-index: 0

section#latest
  h2#divider
    color: $text
    font-size: 2.5em
    text-align: center
    background: $light-grey
    padding: 10px
    width: 220px
    margin: -43px auto 55px auto

  hr#sides
    border: 3px solid $brand-red
    margin-top: 75px

div.pagination
  margin: 30px
  text-align: center

  a
    padding: 15px
    font-family: $p-stack
    color: $text
    text-transform: uppercase
    border-radius: 3px
    margin: 5px
    font-size: 0.8em
    transition: 0.1s
    border: 0.5px solid #dfdfdf

    i
      margin: 3px

  a:hover
    text-decoration: none
    background-color: #dfdfdf


section#menu
  height: 100%
  max-width: 400px
  position: fixed
  left: -400px
  top: 0
  right: 0
  background-color: $background
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3)
  z-index: 997
  transition: 0.2s
  padding: 20px
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: space-between

  nav p
    font-family: $p-stack
    font-weight: 100
    color: $mid-grey
    text-transform: uppercase
    font-size: 0.7em
    margin-bottom: 5px
    margin-top: 20px

  i.fa-times
    color: $mid-grey
    cursor: pointer
    transition: 0.1s
    position: absolute
    right: 20px
    top: 20px

  i.fa-times:hover
    transform: scale(1.1,1.1)

  hr
    width: 30px
    border: 3px solid $light-grey
    margin-bottom: 20px


  nav:first-of-type
    margin: 30px 20px 10px 20px

    ul
      list-style-type: none

      li:hover
        background-color: $light-grey

      li
        font-family: $h-stack
        text-transform: uppercase
        font-weight: 100
        border-bottom: 0.5px solid #dfdfdf
        font-size: 1.2em
        padding: 5px 5px 10px 5px
        transition: 0.1s

        a
          color: $text
          display: block

        a:hover
          text-decoration: none

  nav:nth-of-type(2)
    margin: 5px 20px 5px 20px

    ul
      list-style-type: none

      li
        font-family: $h-stack
        text-transform: uppercase
        font-weight: 100
        font-size: 1.2em
        padding: 5px 0px 5px 0px
        transition: 0.1s
        color: #505050


        a
          color: #505050

  nav:last-of-type
    margin: 20px 20px 20px 20px

    ul
      list-style-type: none

      li:hover
        background-color: $light-grey

      li
        font-family: $h-stack
        text-transform: uppercase
        font-weight: 100
        font-size: 1.2em
        padding: 10px 15px 10px 15px
        transition: 0.1s
        display: inline

        a
          color: $text




section#overlay
  display: none
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  background-color: rgba(255,255,255,0.8)
  filter: blur(2px)
  -webkit-filter: blur(2px)
  z-index: 995
  transition: 0.2s

section#menu.on
  left: 0px
  transition: 0.2s

section#overlay.on
  display: block !important
  transition: 0.2s

div.container.single
  display: flex
  flex-direction: row

div.sidebar
  width: 33.3%
  padding: 20px
  border-right: 0.5px solid #dfdfdf
  flex-grow: 0
  flex-shrink: 0
  flex-basis: 33.3%

  div.posts-widget

    ul.tabs
      margin: 0px
      padding: 0px
      list-style: none
      width: 100%
      box-sizing: border-box

    ul.tabs li
      background: none
      color: $text
      display: inline-block
      padding: 10px 15px
      width: 50%
      cursor: pointer
      box-sizing: border-box
      font-family: $p-stack
      font-size: 0.8em
      font-weight: 100
      text-align: center
      text-transform: uppercase
      float: left

    ul.tabs li.current
      background: $brand-red
      color: $background


    div.tab-content
      display: none

    div.tab-content.current
      display: inherit

  div.widget
    background-color: $background
    margin-bottom: 20px
    position: relative
    border: 0.5px solid #dfdfdf
    border-radius: 2px
    padding: 10px
    font-family: $p-stack
    color: $text

    h4
      text-align: center
      color: $text
      margin: 5px

    ul
      list-style: none

    a
      color: $brand-red

ul.widget-posts-list

  li
    padding: 15px
    display: flex
    align-items: flex-start
    position: relative

    a
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 60
      transition: 0.1s

    a:hover
      background: rgba(0,0,0,0.05)

    img
      margin-right: 10px
      width: 90px

    div
      flex: 1

      p
        font-family: $p-stack
        color: $mid-grey
        text-transform: uppercase
        font-weight: 100
        font-size: 0.8em


article
  width: 66.6%
  background-color: $background
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1)
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1)
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1)
  padding: 20px 0px 20px 0px
  flex: 1

  div#disqus_thread
    margin: 20px

  h2
    font-size: 3em
    margin: 20px
    color: $text

  h3 ul
    list-style-type: none
    margin: 20px 20px 10px 20px

    li
      display: inline
      a
        font-family: $p-stack
        color: $background
        font-weight: 100
        background-color: $brand-red
        padding: 3px
        font-size: 0.8em
        margin-right: 3px

    li a:hover
      background-color: $dark-red
      text-decoration: none

  img
    width: 100% !important
    margin: 0px
    max-width: 100%
    border-bottom: 3px solid $dark-red

  div.wp-caption
    margin: 20px 0px 20px 0px
    max-width: 100%

    img
      height: auto !important
      width: 100%
      border-bottom: 3px solid $dark-red

    p.wp-caption-text
      text-transform: uppercase
      color: $mid-grey
      font-weight: 100
      font-size: 0.8em

  hr
    width: 50px
    border: 3px solid $brand-red
    margin: 20px

  h5
    font-family: $p-stack
    color: $mid-grey
    margin: 20px
    text-transform: uppercase
    font-weight: 100
    font-size: 0.9em

    a
      color: $brand-red
      text-decoration: none

    a:hover
      color: $dark-red

  div.content
    h1,h2,h3,h4,h5,blockquote, ul
      margin-left: 20px
      margin-right: 20px
      max-width: 100%

    blockquote, p blockquote
      max-width: 40%
      float: right

      p
        font-size: 2em
        font-family: $h-stack
        text-transform: uppercase
        font-weight: 700
        margin: 30px 0px 30px 20px

    p
      margin: 0px 20px 20px 20px
      font-size: 1.1em
      color: $text

      a
        color: $brand-red
        text-decoration: none

      a:hover
        color: $dark-red
        text-decoration: underline

h2#archives
  font-size: 3em
  margin: 30px 10px 30px 10px

hr#archives
  width: 60px
  border: 4px solid $brand-red
  margin: 30px 10px 30px 10px

div#search-modal
  z-index: 996
  background-color: #efefef
  padding: 20px
  border: 0.5px solid #dfdfdf
  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  -webkit-transform: translate(-50%,-50%)
  -ms-transform: translate(-50%,-50%)
  border-radius: 2px
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1)
  font-family: $p-stack
  display: none
  transition: 0.1s

  form
    input#s
      padding: 13px
      font-size: 1em
      text-transform: uppercase
      font-family: $p-stack
      font-weight: 100
      border: 0px
      color: $dark-red
      min-width: 300px

    input#searchsubmit
      padding: 13px 15px
      color: $background
      background-color: $brand-red
      border: 0px
      font-size: 1em
      font-family: $p-stack
      cursor: pointer

    input#searchsubmit:hover
      background-color: $dark-red

div#search-modal.on
  display: block

h2#archives span
  font-weight: 100 !important

p#noresults
  margin: 10px
