* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #efefef;
  box-sizing: border-box;
  position: relative; }

::selection {
  background-color: rgba(156, 31, 50, 0.5); }

a {
  text-decoration: none; }

.mobileshow {
  display: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5 {
  font-family: Oswald, sans serif;
  text-transform: uppercase; }

p {
  font-family: Lato, serif; }

div.container {
  max-width: 1000px;
  margin: 0px auto; }

header {
  background: #dfdfdf;
  width: 100%;
  border-bottom: 0.5px solid #dfdfdf;
  z-index: 60;
  padding: 0px;
  position: relative; }
  header div.container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between; }
    header div.container nav:first-of-type {
      align-items: flex-start; }
    header div.container nav:last-of-type {
      align-items: flex-end; }
  header nav:first-of-type div ul li {
    display: inline-block;
    font-family: Oswald, sans serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 0px;
    padding: 5px 3px 5px 3px;
    height: 100%; }
  header a {
    color: #2d2d2d; }
  header a {
    color: #2d2d2d;
    text-decoration: none !important; }
  header nav:first-of-type div ul li:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  header nav:last-of-type div ul li {
    display: inline-block;
    font-family: Oswald, sans serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 0px;
    padding: 5px 5px 5px 5px;
    height: 100%; }
  header a {
    color: #2d2d2d; }
  header a {
    color: #2d2d2d;
    text-decoration: none !important; }
  header nav:last-of-type div ul li:hover {
    background-color: rgba(0, 0, 0, 0.1); }

div#spacer.on {
  width: 100%;
  height: 60px; }

section#masthead, footer {
  text-align: center; }

.fixie {
  position: fixed !important;
  z-index: 7;
  top: 0;
  width: 100%; }

div.spacer {
  width: 100%; }

footer .container {
  padding-bottom: 20px; }
  footer .container hr {
    border: 3px solid #9c1f32;
    margin-bottom: 10px; }
  footer .container nav ul li {
    display: inline;
    list-style-type: none;
    font-family: Oswald, sans serif;
    margin-right: 5px;
    text-transform: uppercase; }
    footer .container nav ul li a {
      color: #2d2d2d; }
  footer .container p {
    font-family: Lato, serif;
    font-weight: 100;
    color: #505050;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 5px;
    margin-top: 20px; }
    footer .container p a {
      color: #9c1f32; }
  footer .container img {
    margin-top: 10px; }

section div.container {
  padding-top: 100px;
  padding-bottom: 100px; }
  section div.container h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2d2d2d;
    text-align: center; }
  section div.container p {
    color: #2d2d2d;
    max-width: 600px;
    margin: 0px auto 20px auto; }

div.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;
  position: relative;
  margin-top: 20px; }
  div.buttons a.button {
    font-family: Lato, serif;
    border-radius: 2px;
    background-color: #2d2d2d;
    color: #fafafa;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    padding: 10px; }
    div.buttons a.button span {
      padding: 12px 12px 12px 12px; }
    div.buttons a.button i {
      padding: 12px 12px 12px 12px; }
  div.buttons a.button:hover {
    text-decoration: none;
    -webkit-filter: brightness(1.2) !important;
    filter: brightness(1.2) !important; }
  div.buttons a.button.watch {
    background-color: #9c1f32;
    display: inline-block;
    padding: 0px; }
    div.buttons a.button.watch i {
      background-color: #6f1523; }

div.video-container {
  position: relative;
  padding-bottom: 52%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border-radius: 2px; }
  div.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

section#services {
  position: relative;
  overflow: hidden; }
  section#services div#slice {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -100px;
    height: 55%;
    width: 100%;
    background-color: #e6e6e6;
    z-index: 1;
    transform: scale(1.5) rotate(-10deg);
    opacity: 0.9; }
  section#services div#grad {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 40%;
    width: 100%;
    background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
    background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
    background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efefef', endColorstr='#efefef',GradientType=0 );
    background-size: cover;
    background-position: bottom;
    z-index: 2; }
  section#services div.container {
    z-index: 9999;
    position: relative;
    padding-top: 50px; }
    section#services div.container hr {
      border: 3px solid #9c1f32;
      margin: 20px auto;
      width: 50px; }
    section#services div.container p {
      text-align: center; }
    section#services div.container div.services {
      display: flex;
      flex-direction: row;
      width: 100%; }
      section#services div.container div.services div.service {
        background-color: #fafafa;
        padding: 30px;
        text-align: center;
        margin: 5px;
        width: 100%;
        position: relative;
        border: 0.5px solid #dfdfdf; }
        section#services div.container div.services div.service a.cover {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 999; }
        section#services div.container div.services div.service a.cover:hover {
          background-color: rgba(0, 0, 0, 0.06); }
        section#services div.container div.services div.service img {
          width: 90px;
          display: block;
          margin: 0px auto 90px auto; }
        section#services div.container div.services div.service h4 {
          margin-bottom: 10px;
          font-size: 1.5em;
          color: #2d2d2d; }
        section#services div.container div.services div.service a.button {
          padding: 6px;
          font-family: Lato, serif;
          color: #fafafa;
          font-size: 0.7em;
          text-transform: uppercase;
          background-color: #9c1f32;
          border-radius: 1px; }

section#subscribe {
  background-color: rgba(156, 31, 50, 0.9);
  color: #fafafa;
  text-align: center;
  position: relative; }
  section#subscribe div.bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: 1;
    opacity: 0.2;
    mix-blend-mode: multiply; }
  section#subscribe div.container {
    position: relative;
    z-index: 2; }
    section#subscribe div.container h2 {
      font-size: 2em;
      margin-left: 0px;
      text-align: center; }
    section#subscribe div.container p, section#subscribe div.container p a {
      margin: 20px auto 20px auto;
      font-weight: 100;
      max-width: 650px;
      color: #fafafa; }
  section#subscribe ::selection {
    background-color: rgba(250, 250, 250, 0.5); }
  section#subscribe ul.reasons {
    margin: 20px; }
    section#subscribe ul.reasons li:last-of-type {
      margin-right: 0px; }
    section#subscribe ul.reasons li {
      display: inline;
      font-family: Lato, serif;
      font-size: 0.9em;
      font-weight: 100;
      margin-right: 35px; }
      section#subscribe ul.reasons li i {
        margin-right: 5px; }
  section#subscribe div.mc-field-group input.email {
    width: 100%;
    box-shadow: none;
    background: none;
    border: 1px solid #fafafa;
    padding: 10px;
    margin-top: 20px;
    color: #fafafa;
    font-size: 1.2em;
    font-weight: 100; }
  section#subscribe input.button {
    padding: 15px;
    border: none;
    background-color: #fafafa;
    border-radius: 2px;
    color: #2d2d2d;
    font-family: Lato, serif;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 100;
    display: inline-block;
    margin: 20px 0px 0px 0px;
    cursor: pointer; }
    section#subscribe input.button i {
      opacity: 0; }
  section#subscribe input.button:hover {
    text-decoration: none;
    background-color: #efefef; }
    section#subscribe input.button:hover i {
      opacity: 1;
      margin-left: 10px; }

section#team {
  position: relative; }
  section#team div.buttons {
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px; }
  section#team hr {
    border: 3px solid #9c1f32;
    margin: 20px auto;
    width: 50px; }
  section#team div#grad {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 20%;
    width: 100%;
    background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
    background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
    background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efefef', endColorstr='#efefef',GradientType=0 );
    background-size: cover;
    background-position: bottom;
    z-index: 2; }
  section#team div.container {
    position: relative;
    z-index: 999;
    padding-top: 50px; }
    section#team div.container p.desc {
      text-align: center; }

section#watch {
  position: relative;
  overflow: hidden; }
  section#watch div#slice {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 45%;
    width: 100%;
    margin-top: -150px;
    background-color: #9c1f32;
    z-index: 1;
    transform: scale(1.5) rotate(-10deg);
    opacity: 0.9; }
  section#watch div.container {
    z-index: 9999;
    position: relative; }
    section#watch div.container img {
      height: 170px;
      margin: 20px auto 70px auto;
      display: block;
      transition: 0.3s; }
    section#watch div.container img.enlarge {
      height: 100px; }
    section#watch div.container h3 {
      color: #fafafa; }
    section#watch div.container p {
      color: #2d2d2d;
      max-width: 600px;
      margin: 0px 0px 0px 0px;
      font-size: 1.2em; }
    section#watch div.container div.video-container {
      position: relative;
      padding-bottom: 52%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      border-radius: 2px;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2); }
    section#watch div.container hr {
      border: 3px solid #9c1f32;
      margin: 20px 0px;
      width: 50px; }

div.pagination {
  margin: 30px;
  text-align: center; }
  div.pagination a {
    padding: 15px;
    font-family: Lato, serif;
    color: #2d2d2d;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 5px;
    font-size: 0.8em;
    transition: 0.1s;
    border: 0.5px solid #dfdfdf; }
    div.pagination a i {
      margin: 3px; }
  div.pagination a:hover {
    text-decoration: none;
    background-color: #dfdfdf; }
