//Styling for large desktops only
@media (min-width: 1500px)


//Styling for tablets and smaller
@media (max-width: 770px)

  div.container
    padding: 20px

  section#hero
    div.grad
      height: 60%

    div.container
      justify-content: flex-end


  .mobilehide
    display: none !important

  .mobileshow
    display: block !important


//Styling for phones and smaller
@media (max-width: 650px)



@media (max-width: 500px)
